:root {
  --font: 'Roboto Mono', monospace; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: var(--font);
  background-color: white;
  color: black;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100%;
}

#btn {
  padding: 0.5em;
  box-shadow: 0.5em 0.5em black;
}

.grid {
  display: flex;
}

.grid-element {
  width: 1em;
  height: 1em;
  background-color: white;
  outline: 1px black solid;
}
